div.preset{
    background: #E0E0E0;
    width:80px; 
    height:100px; float:left; line-height: 22px; text-align: center;
    vertical-align: bottom;
    padding:5px;
    margin:10px;
    font: 12px arial, sans-serif;
}

div.group {
	clear: both;
  	margin-bottom: 10px;
}

h3{
	font: 20px arial, sans-serif;
}